body, h1, h2, h3, h4, h5, p {
	font-family: arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	color: white;
	font-size: 40px;
}

header {
	height: 100vh;
	width: 100%;
	background-image: url("../img/earth.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: inline-block;
}

h2 , h3{
	padding: 10px;
	margin: 0;
	text-align: center;
}

.titles {
	color: white;
}

.p-text {
	color: #EEEEEE;
}

h3 {
	text-align: center;
}

img {
	max-width: 100%;
	margin: 0 0 10px 0 ;
	border-radius: 20px;
}

p {
	text-align: center;
	font-size: 20px;
	color: #263238;
}

button {
	background: none;
	color: #ccc;
	width: 240px;
	height: 50px;
	border: 3px solid #B3E5FC;
	font-weight: bold;
	font-size: 18px;
	border-radius: 35px;
	transition: .6px;
	overflow: hidden;
	margin-top: 50px;
	font-size: 20px;
}

button:focus {
	outline: none;
}

button:hover {
	background: #B3E5FC;
	background: rgba(255,255,255,.5);
	cursor: pointer;
	color: #212121;
}

.about {
	margin-top: 50px;
	margin-bottom: 50px;
}

.container {
	margin-top: 120px;
}

.titles {
	font-weight: bold;
	text-align: center;
	font-size: 25px;
}

/**Rows and Column**/
.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 1.5%;
	text-align: center;
	float: right;
	width: 30%;
}

.column {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 1.5%;
	text-align: center;
	float: right;
	width: 30%;
	height: 20%;
}

.container-1 {
		margin-top: 80px;
		background-color: #1565C0;
}

.logo {
	margin-top: 50px;
	text-align: center;
	font-size: 50px;
	color: white;
}

.btn-go:hover {
	background-color: rgb(129,212,250,0.5);
	transition: .3s;
	font-weight: bold;
	color: black;
}

.container-skills {
	margin: 0;
	padding: 0;
	background-color: orange;
}

.school {

	background-color: #01579B;
}

.proj {
	background-color: orange;
}


/**phone and laptop screen size**/
@media screen and (min-width:600px) and (max-width:600px) {

		body, h1, h2, h3, h4, h5, p {
			font-family: arial, sans-serif;
			margin: 0;
			padding: 0;
			font-size: 20px;
		}

		img {
			max-width: 90%;
			margin: 0 0 10px 0 ;
			border-radius: 10px;
		}
		header {
			height: 100vh;
			width: 100%;
			background-image: url("../img/earth.jpg");
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
			display: inline-block;
		}
		button {
			background: none;
			color: #ccc;
			width: 100px;
			height: 20px;
			border: 2px solid #B3E5FC;
			font-weight: bold;
			font-size: 11px;
			border-radius: 35px;
			transition: .6px;
			overflow: hidden;
			margin-top: 50px;
		}
		.column {
        width: 100%;
    }
		.container {
			margin-top: 20px;
		}
		.container-1 {
			font-size: 12px;
		}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}
